<!DOCTYPE html>
<html>
<head>
  <title>Pickmeup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <script>
    var gMap;

    function initMap() {
      gMap = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 43.652325, lng: -79.379377},
        zoom: 14
      });
    }

  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.MAPS_KEY %>&callback=initMap" async defer></script> 
</body>
</html>
